:root{
    --title-family: Lexend Deca;
    --descrip-family: Big Shoulders Display;
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --box-size: 280px;
    --vector-sizes: 50px;
    --main-font-size:16px;
    --p-color:hsla(0, 0%, 100%, 0.75);
    --t-color:hsl(0, 0%, 95%);
}

body{
    overflow: hidden;
    background-color: #F2F2F2;
}

.container{
    width: 100%;
    height: 100%;
}

.card{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.first-card,.sec-card,.third-card{
    margin: 0;
    padding: 0;
    height: calc(var(--box-size) + 180px);
    width: var(--box-size);
}

.first-card{
    box-shadow: 5px 2px 10px rgba(0,0,0,25%);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--Bright-orange);
    z-index: 4;
}

.sec-card{
    box-shadow: 5px 2px 10px rgba(0,0,0,25%);
    background-color: var(--Dark-cyan);
    z-index: 3;
}

.third-card{
    box-shadow: 5px 2px 10px rgba(0,0,0,25%);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--Very-dark-cyan);
    z-index: 2;
}

.things-in-card{
    max-width: 100%;
    min-height: 94%;
    margin-top: 28px;
    margin-left: 28px;
    color: #FBF3F0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

.vectors{
    grid-column: 1/1;
    grid-row: 1/1;
    max-width: var(--vector-sizes);
}

.title{
    grid-column: 1/2;
    grid-row: 2/2;
    margin: 0;
    font-family: "Lexend Deca",sans-serif;
    text-transform: uppercase;
    font-size: calc(var(--main-font-size) + 8px);
    font-weight: 700;
    color: var(--t-color);
}

.text{
    grid-column: 1/3;
    grid-row: 3/3;
    font-family: var(--descrip-family),sans-serif;
    color: var(--p-color);
    margin-right: 0;
    font-size: var(--main-font-size);
    padding: 0;
    line-height: 27px;
}

.button{
    cursor:pointer;
    display: grid;
    place-items: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 4/4;
    font-family: var(--descrip-family),sans-serif;
    font-size: calc(var(--main-font-size) - 4px);
    text-align: center;
    border-radius: 20px;
    height: 22px;
    width: 100px;
    padding: 8px 16px;
    background-color: var(--t-color);
    border: 2px solid var(--t-color);
    margin-bottom: 25%;
}

.sedans{
    color: var(--Bright-orange);
}

.suv{
    color: var(--Dark-cyan);
}

.luxury{
    color: var(--Very-dark-cyan);
}

.button:hover , .sedans:hover {
    background-color: transparent;
    color: white;
}

@media screen and (max-width: 780px){
    .card-container{
        flex-direction: column;
        overflow-x: hidden;
    }
}
